{% extends 'base.html' %}
{% load static %}
{% block container %}

    <div class="hero hero-single route bg-image"
         style="background-image: url({% static 'assets/img/overlay-bg.jpg' %})">
        <div class="overlay-mf"></div>
        <div class="hero-content display-table">
            <div class="table-cell">
                <div class="container">
                    <h2 class="hero-title mb-4">Yutuq Haqida</h2>
                    <ol class="breadcrumb d-flex justify-content-center">
                        <li class="breadcrumb-item">
                            <a href="{% url 'index' %}">Bosh sahifa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'blog_single' %}">Yutuq</a>
                        </li>
                        <li class="breadcrumb-item active">Yutuq haqida</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <main id="main">

        <!-- ======= Blog Single Section ======= -->
        <section class="blog-wrapper sect-pt4" id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="post-box">
                            <div class="post-thumb">
                                <img src="{{ blog.image.url }}" class="img-fluid" alt="">
                            </div>
                            <div class="post-meta">
                                <h1 class="article-title">{{ blog.name }}</h1>
                                <ul>
                                    <li>
                                        <span class="bi bi-person"></span>
                                        <a href="">{{ personal_info.name }}</a>
                                    </li>
                                    <li>
                                        <span class="bi bi-tag"></span>
                                        <a href="#">{{ blog.category }}</a>
                                    </li>
                                    <li>
                                        <span class="bi bi-chat-left-text"></span>
                                        <a href="#">{{ comments.count }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="article-content">
                                <p>{{ post.description|linebreaks }}</p>
                            </div>
                        </div>
                        <div class="box-comments">
                            <div class="title-box-2">
                                <h4 class="title-comments title-left">Comments ({{ comments.count }})</h4>
                            </div>
                            <ul class="list-comments">
                                {% for comment in comments %}
                                    <li>
                                        <div class="comment-avatar">
                                            <img src="{% static 'assets/img/banana2.jpg' %}" alt="">
                                        </div>
                                        <div class="comment-details">
                                            <h4 class="comment-author">{{ comment.fullname }}</h4>
                                            <span>{{ comment.created_at|date:"d M Y" }}</span>
                                            <p>
                                                {{ comment.text }}
                                            </p>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-comments">
                            <div class="title-box-2">
                                <h3 class="title-left">
                                    Post uchun comment yozish
                                </h3>
                            </div>
                            <form method="post" action="{% url 'post' blog.id %}" class="form-mf">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-mf" name="fullname"
                                                   placeholder="Name *" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <div class="form-group">
                                            <input type="email" class="form-control input-mf" name="email"
                                                   placeholder="Email *" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <div class="form-group">
                                            <textarea name="text" class="form-control input-mf" placeholder="Comment *"
                                                      cols="45" rows="8" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="button button-a button-big button-rouded">Send
                                            Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget-sidebar sidebar-search">
                            <h5 class="sidebar-title">Search</h5>
                            <div class="sidebar-content">
                                <form method="get" action="{% url 'blog_single' %}">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="s" placeholder="Search for..."
                                               aria-label="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary btn-search" type="submit">
                                                <span class="bi bi-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="widget-sidebar">
                            <h5 class="sidebar-title">Recent Post</h5>
                            <div class="sidebar-content">
                                <ul class="list-sidebar">
                                    {% for post in blog.all %}
                                        <li>
                                            <a href="">{{ post.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Blog Single Section -->

    </main><!-- End #main -->

{% endblock %}
